.homeContainer{
    height: 100vh;
    background-repeat: no-repeat, repeat;
    background-image: radial-gradient( circle 588px at 31.7% 40.2%,  rgba(225,200,239,1) 21.4%, rgba(163,225,233,1) 57.1% );
}
.navTitle{
    color:rgb(255, 255, 255) !important;
    font-weight: bolder;
}
.navTitle:hover{
    color:rgba(203, 129, 233, 0.753) !important;
}